{deps, []}.

{shell, [{apps, [textual]}]}.

{project_plugins, [
    rebar3_ex_doc,
    erlfmt
]}.

{erlfmt, [write, {print_width, 80}]}.

{profiles, [
    {test, [
        % Run tests in parallel
        {eunit_tests, [{inparallel, textual_titlecase_tests}]},
        % Use unite for pretty-printing
        {deps, [unite]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
    ]}
]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/eproxus/textual">>},
    {extras, [
        {'README.md', #{title => <<"Overview">>}},
        {'LICENSE.md', #{title => <<"License">>}},
        {'CHANGELOG.md', #{title => <<"Changelog">>}}
    ]},
    {main, <<"readme">>}
]}.
